<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Recuperação de Conta</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif; /* Fonte padrão */
      margin: 0;
      padding: 0;
    }

    .body-confirm-account {
      padding-left: 16px;
    }

    .header {
      display: flex;
      align-items: center;
      margin-top: 24px;
    }

    .logo {
      width: 43px;
      height: 43px;
    }

    .title {
      padding-left: 16px;
      font-size: 20px;
      font-weight: 600;
      color: #000;
    }

    .text {
      margin-top: 24px;
      padding-left: 16px;
    }

    .button-container {
      padding: 16px 0;
    }

    .btn {
      background-color: #6C15D5;
      color: #ffffff; /* Texto branco */
      font-weight: 600;
      padding: 10px 24px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none; /* Remove o sublinhado do link */
      display: inline-block; /* Garante que o botão seja exibido corretamente */
    }

    .btn a {
      color: #ffffff; /* Texto branco */
      text-decoration: none; /* Remove o sublinhado do link */
    }

    .btn:hover {
      background-color: #5a11b6;
    }
  </style>
</head>
<body>
  <div class="body-confirm-account">
    <div class="header">
      <img src="cid:logo_cid" alt="Logo" class="logo" />
      <span class="title">KDABOA</span>
    </div>

    <div class="text">
      <p>Olá, Manin!</p>
      <p>Para concluir a troca de senha clique no botão abaixo.</p>

      <div class="button-container">
        <a href="http://localhost:3000/auth/recovery-password?token=<%= token %>" class="btn">Trocar Senha</a>
      </div>

      <p>Se você não reconhece esta solicitação ou não sabe do que se trata, pode ignorar este e-mail por segurança.</p>
    </div>
  </div>
</body>
</html>